/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali */
:root{

}

body{
    min-width: 500px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.my-row .my-col{
    width: calc((100% / 6) - 10px);
    margin-right: 10px;
    margin-bottom: 20px;
}




/* MAIN */
main{
    width: 100%;
}

main .app{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

/* aside{
    padding-left: 20px;
} */

/* PARTE SUPERIORE ASIDE */
.logo img{
    width: 70%;
    padding: 20px;
}

aside .menu-nav ul{
    /* width: 30px; */
    color: #AAA9AA;
    list-style: none;
    padding-left: 20px;
}

aside .menu-nav ul li img{
    width: 30px;
    color: #AAA9AA;
}
aside .menu-nav ul li a{
    display: flex;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #AAA9AA;
}

/* PLAYLIST */

.playlist {
    padding-left: 20px;
    padding-top: 20px;
}

.create-playlist i{
    padding: 20px;
    background-color: grey;
    text-size-adjust: 10rem;
}

.playlist nav{
    padding-top: 20px;
}

.name-playlist ul{
    list-style: none;
    /* font-size: 13px; */
    line-height: 35px;
}

/* fine playlist */
main .app > *{
    height: 100%;
}

main .app .navigation{
    width: 250px;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

/* PARTE INFERIORE ASIDE */
.user-profile{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 90%;
    padding-left: 20px;
    padding-right: 20px;
}

.profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 30px;
    background-color: grey;
    border-radius: 100%;
}

/* FINE PARTE INFERIORE ASIDE */

/* CONTENT */
/* parte superiore */
main .app .content{
    width: calc(100% - 250px);
    overflow: auto;
    opacity: 1;
}

main .app .content .cta{
    position: sticky;
    top: 0;
    z-index: 20;
    text-align: right;
    padding: 30px;
}
/* parte inferiore */
main .app .content section{
    padding: 0 15px;
    margin-bottom: 30px;
}

main .app .content .content-nav{
    text-align: center;
    padding: 20px 0;
}

main .app .content .content-nav ul{
    list-style: none;
}

main .app .content .content-nav ul li{
    display: inline-block;
}


/* FOOTER */
footer{

}

footer .player{
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.player .playing{
    display: flex;
    align-items: center;
}

.player .playing img{
    height: 100%;
    padding-right: 10px;
}

.player .playing:last-child{
    font: bold;
}

.player .playing .grey{
    color: grey;
}






/* DEBUG */
.debug main .app{
    background-color: #141922;
}

.debug main .app .navigation{
    background-color: #000000;
}

.debug main .app .content{
    background-color: rgba(0, 0, 0, 0.4);
}

.debug main .app .content .cta{
    background-color: #141922;
    /* height: 100px; */
}

.debug footer .player{
    color: white;
}

.debug footer .player > *{
    background-color: red;
    padding: 20px;
}

.debug .my-row .my-col{
    background-color: blue;
    height: 100px;
}